.Account {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100% - 150px);
}
@media screen and (max-width: 500px) {
  .Account {
    width: 100%;
  }
}

.Account > img {
  max-width: 300px;
  max-height: 200px;
}

.Account > .account-info {
  padding-top: 10px;
}
.Account > .account-info > img {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}
.Account > .account-info > button {
  margin-left: 10px;
  border-radius: 5px;
  outline: 0;
  background-color: white;
  cursor: pointer;
}
.Account > .account-info > .btn-friend {
  background-color: skyblue;
  border: 0;
}
.Account > .account-info > .btn-sent {
  background-color: lightgray;
  border: 0;
}
.Account > .account-info > .btn-err {
  background-color: black;
  color: white;
  border: 0;
}

.Account > .Account-panel {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.Account > .Account-panel > div {
  flex: 1;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 800px) {
  .Account > .Account-panel {
    flex-direction: column;
    align-items: stretch;
  }
}

.Account-panel > div > p,
.Account-panel > div > .invitation-filter-buttons {
  padding-left: 20px;
}

.invitation-filter-buttons > div {
  float: right;
  margin-right: 20px;
}
.invitation-filter-buttons button {
  outline: 0;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.invitation-filter-buttons button[active="true"] {
  border: 0;
  background-color: skyblue;
  color: white;
  cursor: default;
}
