.Account {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Account > img {
  max-width: 300px;
  max-height: 200px;
}

.Account > .account-info {
  padding-top: 10px;
}
.Account > .account-info > img {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}
.Account > .account-info > button {
  margin-left: 10px;
  border-radius: 5px;
  outline: 0;
  background-color: white;
  cursor: pointer;
}
.Account > .account-info > .btn-friend {
  background-color: skyblue;
  border: 0;
}
.Account > .account-info > .btn-sent {
  background-color: lightgray;
  border: 0;
}
.Account > .account-info > .btn-err {
  background-color: black;
  color: white;
  border: 0;  
}

.Account > .Account-panel {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.Account > .Account-panel > div {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  min-width: 500px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.Account-panel > div > p {
  padding-left: 20px;
}
