.FriendSuggest {
  background-color: #3b7cde;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}
.FriendSuggest > img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.FriendSuggest > span {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  line-height: 30px;
}
