.FriendSearch {
  display: none;
  position: relative;
}
@media screen and (min-width: 801px) {
  .FriendSearch {
    display: inline-block;
  }
}

.FriendSearch > label > span {
  display: inline-block;
  width: 150px;
}

.FriendSearch input {
  width: 300px;
}

.FriendSearch-suggest {
  position: fixed;
  top: 41px;
  width: 300px;
  min-height: 200px;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid lightgray;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
