.MakeInvitation {
  width: 95%;
  max-width: 500px;
  min-height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  font-size: 15px;
}

.MakeInvitation > h1 {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid dimGray;
  font-size: 25px;
}
.MakeInvitation > h1 > span {
  float: right;
  cursor: pointer;
}
.MakeInvitation p {
  margin: 0;
}
.MakeInvitation select {
  width: 80%;
  background-color: white;
  outline: none;
}
.MakeInvitation input {
  margin-left: 10px;
  margin-top: 2px;
  height: 20px;
  width: 250px;
  padding: 0;
  padding-left: 2px;
  font-size: 14px;
  line-height: 14px;
  outline: 0;
}
.MakeInvitation button {
  display: block;
  background-color: #e3f2fd;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
.MakeInvitation button:active {
  outline: none;
  background-color: orange;
}
.MakeInvitation button:focus {
  outline: none;
}

.MakeInvitation .select.friends,
.MakeInvitation .select.img {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.MakeInvitation .type.restaurant {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  position:relative;
}
.MakeInvitation .type.restaurant > span {
  display: inline-block;
  width: 85px;
  overflow: hidden;
}

.MakeInvitation .selected.friends {
  display: inline-block;
  width: 50%;
}
.MakeInvitation .selected.img {
  display: inline-block;
  width: 100%;
  position: relative;
}

.MakeInvitation .select.img p {
  margin-bottom: 5px;
}
.MakeInvitation .select.img img {
  width: 25%;
  max-height: 50px;
  margin-bottom: 5px;
  cursor: pointer;
}
.MakeInvitation .selected.img .img-panel {
  width: 100%;
}
.img-panel .restaurant-selected {
  width: 50%;
}
.img-panel .restaurant-loading {
  position: absolute;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MakeInvitation .send {
  margin-top: 30px;
  float: right;
}
