.RestaurantSearch-restaurants-panel {
  position: absolute;
  top: 25px;
  left: 85px;
  border: 1px solid lightgray;
  margin-left: 10px;
  margin-top: 2px;
  padding: 0;
  padding-top: 5px;
  padding-left: 2px;
  font-size: 14px;
  line-height: 14px;
  width: 250px;
  min-height: 30px;
  background-color: white;
  z-index: 2;
}

.restaurantNames {
  padding-bottom: 5px;
  cursor: pointer;
}

.RestaurantSearch-restaurants-panel {
  padding: 0;
}

.RestaurantSearch-restaurants-panel > p {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-bottom: 1px solid lightgray;
}

.RestaurantSearch-restaurants-panel > .noRestaurant {
  color: lightgray;
}
