.ChatRoom {
  flex: 1;
  min-height: 50px;
  background-color: #3b7cde;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.ChatRoom:active {
  background-color: orange;
}

.ChatRoom-users {
  flex: 1;
  height: 55px;
  overflow: hidden;
}
.ChatRoom-users[showall="true"] {
  overflow: static;
}
.ChatRoom-users[showall="false"] {
  overflow: hidden;
}

.ChatRoom-titles {
  margin: 0;
  display: inline-block;
  width: 90%;
}
.ChatRoom-icon {
  width: 5%;
  display: inline-block;
  color: white;
}

.ChatRoom-users > p {
  margin: 0;
  color: white;
  width: 90%;
  display: inline-block;
}
.ChatRoom-users > .ChatRoom-user {
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
  width: 31%;
}
.ChatRoom-user > img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  float: left;
}
.ChatRoom-user > span {
  display: inline-block;
  width: calc(100% - 25px);
  text-overflow: ellipsis;
  color: white;
}
