.friendList > img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.friend {
  min-height: 25px;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-bottom: 1px dotted white;
}

.friend img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.friend:hover {
  background-color: lightgray;
}

.friend.online span {
  font-size: 30%;
  line-height: 25px;
  float: right;
}
.friend.offline span {
  font-size: 80%;
  line-height: 25px;
  color: gray;
  float: right;
}
