.friendList > img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.friend {
  height: 25px;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.friend:hover {
  background-color: lightgray;
}

.friend.online:after {
  content: '🔵';
  font-size: 30%;
  line-height: 25px;
  float: right;
}
.friend.offline span {
  font-size: 80%;
  line-height: 25px;
  color: gray;
  float: right;
}
