.friendList {
  width: 100%;
  height: 100vh;
  max-width: 250px;
  float: left;
  background-color: lightgray;
}

.friend {
  list-style: none;
  margin-left: 20px;
}

.friend.online:before {
  content: '🔵';
  font-size: 30%;
  vertical-align: middle;
  margin-right: 10px;
}
.friend.offline:before {
  content: '🔴';
  font-size: 30%;
  vertical-align: middle;
  margin-right: 10px;
}
.friend.offline span {
  font-size: 80%;
}
