.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 300px;
  height: 60px;
  overflow: hidden;
  border-bottom: 1px double gray;
  z-index: 1;
}

.friendList {
  width: 150px;
  height: 100vh;
  background-color: rgb(245, 245, 245);
  border-right: 1px double gray;
  margin-right: 20px;
  position: fixed;
  top: 60px;
  left: 0;
}
@media screen and (max-width: 650px) {
  .friendList {
    display: none;
  }
}

#Posts[page="main"],
.Account,
.FindFriends {
  position: relative;
  width: calc(100% - 150px);
  top: 60px;
  left: 150px;
}
#Posts[page="account"] {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}
@media screen and (max-width: 650px) {
  #Posts,
  #Posts[page="main"],
  #Posts[page="account"],
  .Account,
  .FindFriends {
    width: 100%;
    left: 0;
  }
}

#Chat {
  position: fixed;
  width: 300px;
  height: 400px;
  top: calc(100% - 400px);
  left: calc(100% - 300px);
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1;
}
