/* .container {
    float: left;
    background-color: rgb(245, 245, 245);
}

.img-fluid {
    max-width: 100%;
    height: 20vh;
    width: 28vh;
    padding-left: 20px;
}

.d-block {
    margin: 20px 0px 20px 0px;
}

.card-body {
    background-color: white;
}
*/
.btn-md {
    width: 25%;
}

.btn-outline-success {
    margin-right: 100px;
    margin-left: 50px;
}

.container .column {
    margin-top: 20px;
}

.column {
    margin-bottom: 10px;
}

.image {
    flex-shrink: 0;
}

.temp {
    /* width: 240px;
    height: 150px; */
    padding: 10px;
    max-width: 240px;
    max-height: 150px;
    height: auto;
    width: 70%;
}